.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  height: 100%;
  @media (max-width: 767px) {
    padding: 0;
  }
}

.css-93ilmd-DropDown {
  top: 43px !important;
  width: 300.66668701171875px !important;
}

.rc-time-picker-clear {
  display: none;
}

textarea {
  resize: none;
}

.rc-time-picker-input, .rc-time-picker-panel-input {
  font-size: 16px;
}

.rc-time-picker-input, .react-datepicker-ignore-onclickoutside, .react-dropdown-select, .react-datepicker__input-container > input {
  border-radius: 4px !important;
  border: 1px solid rgb(206, 212, 218) !important;
  color: rgb(33, 37, 41) !important;
  height: 38px !important;
  width: 100% !important;
  transition-delay: 0s, 0s;
  transition-duration: 0.15s, 0.15s;
  transition-property: border-color, box-shadow;
  transition-timing-function: ease-in-out, ease-in-out;
  &:hover{
    border-color: rgb(206, 212, 218) !important;
  }
  &:focus, &:focus-within{
    color: #495057 !important;
    background-color: #fff !important;
    border-color: #80bdff !important;
    outline: 0 !important;
    box-shadow: 0 0 0 .2rem rgba(0,123,255,.25) !important;
  }
}

.react-datepicker-wrapper, .rc-time-picker {
  width: 100% !important;
}

.react-calendar {
  width: 1050px;
  border: none;
  margin: 50px auto;
  .react-calendar__navigation__label{
    &:disabled {
      background: white;
      color: black;
    }
  }
  .react-calendar__month-view__days {
    border: 1px solid black;
  }
  .react-calendar__navigation__arrow:focus {
    background: white !important;
  }
  .react-calendar__tile {
    height: 150px;
    width: 150px;
    position: relative;
    border: 1px solid black !important;
    abbr {
      top: 15px;
      position: absolute;
      left: 15px;
      z-index: 1;
      font-weight: 600;
    }
    .today {
      background: #238bf473;
      width: 26px;
      height: 26px;
      border-radius: 50%;
      top: 11px;
      left: 11px;
      z-index: 0;
      position: absolute;
    }
    &:disabled {
      background: white;
      color: black;
    }
    &.react-calendar__month-view__days__day--weekend {
      color: #3d76b7;
      background: rgb(240, 240, 240);
      &:hover {
        background: rgb(220, 220, 220);
      }
    }
    &.react-calendar__month-view__days__day--neighboringMonth{
      color: rgb(109, 109, 109);
    }
    // &--active,  &--active:focus {
    //   background: white;
    //   color: black
    // }
  }
  @media (max-width: 767px) {
    .react-calendar__tile {
      abbr {
        font-size: 12px;
        top: 5px;
        left: 5px;
      }
      height: 100px;
      .today {
        width: 20px;
        height: 20px;
        top: 4px;
        left: 2px;
      }
    }
    margin-top: 25px;
    margin-bottom: 25px;
  }
}

.add-reminder {
  margin: 0 auto 50px;
  display: block;
  @media (max-width: 767px) {
    margin-bottom: 25px;
  }
}

.reminder-list {
  position: absolute;
  width: 100%;
  left: 0px;
  top: 36px;
  .reminder-element {
    width: 100%;
    height: 17px;
    padding: 0 5px;
    font-size: 12px;
    overflow: hidden;
    .reminder-title {
      text-overflow: ellipsis;
      overflow: hidden;
      text-align: center;
    }
  }
  @media (max-width: 767px) {
    top: 23px;
  }
}

.react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: underline;
  cursor: default;
}

.picker-cover {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.picker-popover {
  position: absolute;
  z-index: 2;
}

.color-choice {
  width: 30%;
  height: 24px;
  border: solid 4px gray;
  border-radius: 5px;
  position: relative;
  top: 7px;
}

.color-choice-noclick {
  width: 30%;
  height: 24px;
  border: solid 2px gray;
  border-radius: 5px;
}

.hide-mobile {
  @media (max-width: 767px) {
    display: none;
  }
}

.delete-date-reminders {
  position: absolute;
  font-size: 12px;
  width: 58%;
  left: 42px;
  top: 14px;
  height: 19px;
  padding: 0;
  &:before {
    content: "Clear Day";
  }
  @media (max-width: 767px) {
    top: 4px;
    left: 25px;
    width: 40%;
    &:before {
      content: "X";
    }
  }
}

.day-view-container {
  max-width: 1050px;
  margin: 50px auto;
}

.bordered {
  border: 2px solid white;
  width: 40px;
  height: 40px;
  @media (max-width: 767px) {
    // width: 25px;
    // height: 25px;
    // font-size: 8px;
  }
}

.reminder-dayview-element {
  font-weight: 600;
  margin: 10px auto;
  max-width: 95%;
  border-radius: 4px;
  padding: 10px;
  border: 1px solid black;
}

.forecast-item {
  @media (max-width: 767px) {
    font-size: 11px;
    .weather-icon {
      max-width: 30px;
      max-height: 30px;
    }
  }
}

.table-responsive {
  table tbody, table thead
  {
    display: block;
  }
  table tbody 
  {
    overflow: auto;
    max-height: 55vh;
  }
  th, td {
    width: 1050px;
  }
}