.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

// .css-1m73j3j-InputComponent {
//   width: 100% !important;
// }


.container {
  max-width: 1440px;
  margin: 0 auto;
}

.css-93ilmd-DropDown {
  top: 43px !important;
  width: 300.66668701171875px !important;
}